* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: Montserrat;
}

body {
  margin: 0 auto;
  background: #f6f5f4;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #000;
}
