.login {
  max-width: 1180px;
  margin: 83px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 519px;
    border-radius: 5%;
    padding: 3%;
    background-color: #eceae8;

    & h1 {
      color: #000;
      font: 400 56px Dela Gothic One;
      line-height: 120%;
      letter-spacing: -2.24px;
    }

    .loginBtn {
      width: 112px;
      text-transform: none;
      font: 400 16px Montserrat;
      color: #152e37;
      background: linear-gradient(145deg, rgba(134, 208, 218, 1) 0%, rgba(50, 151, 168, 1) 100%);

      &:hover {
        background: linear-gradient(145deg, rgba(183, 228, 234, 1) 0%, rgba(77, 179, 195, 1) 100%);
      }
    }
  }

  .loginImg {
    background: url("./assets/loginImg.png") no-repeat;
    width: 481px;
    height: 320px;
    background-size: cover;
  }
}
