/* --------------------------------- preview section ---------------------- */

.preview {
  max-width: 1180px;
  margin: auto;
  padding: 95px 0 30px 0;
  display: flex;
  justify-content: space-between;

  .previewInfo {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
}

.preview .previewInfo .description {
  font: 700 16px Montserrat;
  color: #2b788b;
  letter-spacing: 2.24px;
  text-transform: uppercase;
}

.preview .previewInfo h1 {
  margin-top: 24px;
  font: 400 56px Dela Gothic One;
  color: #000;
  line-height: 120%;
  letter-spacing: -2.24px;
}

.preview .previewInfo .info {
  max-width: 396px;
  margin-top: 30px;
  font: 600 18px Montserrat;
  color: #757575;
  line-height: 140%;
  letter-spacing: -0.72px;
}

.preview .previewInfo .btnInfo {
  margin-top: 32px;
  width: 165px;
  border-radius: 100px;
  background-color: #c3dce3;
  font: 700 16px Montserrat;
  color: #2b788b;
  letter-spacing: -0.64px;
  text-align: center;
  padding: 14px 0;

  &:hover {
    transition: 0.5s;
    opacity: 75%;
  }
}

.preview .previewInfo .students {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 163px;
}

.preview .previewInfo .students .studentsCounts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview .previewInfo .students .lightning {
  background: url("../PreviewInfo/assets/lightning.svg") no-repeat;
  width: 24px;
  height: 30px;
  background-size: contain;
}

.preview .previewInfo .students .numberPlus {
  color: #000;
  font: 400 40px Dela Gothic One;
  letter-spacing: -0.8px;
}

.preview .previewInfo .students .numberPlus::after {
  content: "+";
  color: #2b788b;
}

.preview .previewInfo .students p {
  text-align: center;
}

.previewGuy {
  background-image: url("../PreviewInfo/assets/previewGuy.png");
  width: 722px;
  height: 601px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 15px;
}

/* --------------------------------- learnLang section ---------------------- */

.wrapper {
  width: 100%;
  background-color: #fff;
}

.learnLang {
  max-width: 1180px;
  margin: auto;
  padding: 77px 0;
  display: flex;
  gap: 120px;
}

.learnLang .learnLangImg {
  background: url("./assets/learnLangImg.png") no-repeat;
  width: 580px;
  height: 445px;
  background-size: cover;
}

.learnLang .learnLangDescription {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.learnLang .learnLangDescription h1 {
  margin-top: 44px;
  color: #000;
  font: 400 48px Dela Gothic One;
  letter-spacing: -1.92px;
  line-height: 100%;
}

.learnLang .learnLangDescription p {
  margin-top: 30px;
  color: #757575;
  font: 600 18px Montserrat;
  line-height: 140%;
  letter-spacing: -0.72px;
}

.learnLangDescription .learnLangDescriptionImg {
  margin-top: 30px;
  display: flex;
  gap: 21px;
}

.learnLangDescription .learnLangDescriptionImg .learnLangDescriptionImgSprint {
  background: url("./assets/learnLangImgSprint.png") no-repeat;
  background-size: cover;
  width: 131px;
  height: 145px;
}

.learnLangDescription .learnLangDescriptionImg .learnLangDescriptionImgTasks {
  background: url("./assets/learnLangImgTasks.png") no-repeat;
  background-size: cover;
  width: 172px;
  height: 145px;
}

/* --------------------------------- learnLang section ---------------------- */

.knowledge {
  max-width: 1180px;
  padding-top: 26px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  gap: 25px;
}

.knowledge .knowledgeDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 475px;
}

.knowledge .knowledgeDescription h1 {
  color: #000;
  font: 400 48px Dela Gothic One;
  line-height: 100%;
  letter-spacing: -1.92px;
}

.knowledge .knowledgeDescription p {
  max-width: 396px;
  margin-top: 30px;
  color: #757575;
  font: 600 18px Montserrat;
  line-height: 140%;
  letter-spacing: -0.72px;
}

.knowledge .knowledgeDescription .knowledgeDescriptionBtn {
  margin-top: 34px;
  width: 131px;
  text-align: center;
  border-radius: 100px;
  background-color: #c3dce3;
  padding: 14px 0;

  font: 700 16px Montserrat;
  color: #2b788b;
  line-height: 100%;
  letter-spacing: -0.64px;
}

.knowledge .knowledgeDescription .knowledgeDescriptionBtn:hover {
  transition: 0.5s;
  opacity: 75%;
}

.knowledge .knowledgeImg {
  background: url("./assets/knowledgeImg.png") no-repeat;
  width: 580px;
  height: 473.973px;
  background-size: cover;
}

/* --------------------------------- watch progress section ---------------------- */

.watchProgress {
  padding: 95px 0;
  width: 1180px;
  margin: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.watchProgress .watchProgressImg {
  background: url("./assets/watchProgressImg.png") no-repeat;
  background-size: cover;
  width: 680px;
  height: 409.254px;
}

.watchProgress .watchProgressDescription {
  max-width: 474.464px;
}

.watchProgress .watchProgressDescription h1 {
  color: #000;

  font: 400 48px Dela Gothic One;
  line-height: 100%;
  letter-spacing: -1.92px;
}

.watchProgress .watchProgressDescription p {
  margin-top: 30px;
  max-width: 396.886px;
  color: #757575;

  font: 600 18px Montserrat;
  line-height: 140%;
  letter-spacing: -0.72px;
}

.watchProgress .watchProgressDescription .watchProgressDescriptionBtn {
  margin-top: 34px;
  width: 129px;
  padding: 14px 0;
  border-radius: 100px;
  background-color: #c3dce3;
  color: #2b788b;

  font: 700 16px Montserrat;
  line-height: 100%;
  letter-spacing: -0.64px;
  text-align: center;
}

.watchProgress .watchProgressDescription .watchProgressDescriptionBtn:hover {
  transition: 0.5s;
  opacity: 75%;
}
