.wrapper {
  max-width: 1180px;
  margin: auto;
  padding-top: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & h1 a {
    font: 400 16px Dela Gothic One;
    color: #000;
    padding-right: 30px;

    border-right: 1.182px solid #e0e0e0;
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .singInBtn {
    font: 400 16px Montserrat;
    color: #152e37;
    background: linear-gradient(145deg, rgba(134, 208, 218, 1) 0%, rgba(50, 151, 168, 1) 100%);

    &:hover {
      background: linear-gradient(145deg, rgba(183, 228, 234, 1) 0%, rgba(77, 179, 195, 1) 100%);
    }
  }
}
