.wrapper {
  max-width: 1180px;
  margin: auto;
  padding-top: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & h1 a {
    font: 400 16px Dela Gothic One;
    color: #000;
    padding-right: 30px;

    border-right: 1.182px solid #e0e0e0;
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 25px;

    .logo a {
      font: 700 16px Montserrat;
      color: #000;
      line-height: 100%;
      letter-spacing: -0.662px;
    }
  }

  .singInBtn {
    width: 109px;
    padding: 13px 0;

    font: 400 16px Montserrat;
    color: #fff;
    background-color: #2b788b;
    border-radius: 14.188px;
    text-align: center;

    transition: 0.5s;

    &:hover {
      background-color: #ffd700;
    }
  }
}
